My workflow 4.json
{
  "name": "My workflow 4",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds",
              "secondsInterval": 10
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "dee1c87f-56af-45c2-a2c0-97e45a17184c",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "http://host.docker.internal:5000/incidents",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        0
      ],
      "id": "c5baf04e-2444-4f27-a03a-77fb56a1af67",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        416,
        0
      ],
      "id": "ee206bad-faee-4f65-9c7d-7f5e07f01c47",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "jsCode": "let parsed;\n\ntry {\n  const content = $json.choices[0].message.content;\n  parsed = JSON.parse(content);\n} catch (e) {\n  parsed = {\n    severity: \"P3\",\n    action: \"log_only\",\n    confidence: 0.0\n  };\n}\n\n// confidence gate\nif (parsed.confidence < 0.6) {\n  parsed.action = \"hold\";\n}\n\nreturn [{ json: parsed }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        768,
        272
      ],
      "id": "0c91000e-ccc3-4d56-a43a-6b637da543f4",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": " Bearer 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"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"llama-3.1-8b-instant\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"Analyze this incident and return ONLY valid JSON with no extra text:\\n{\\\"severity\\\":\\\"P1|P2|P3|P4\\\",\\\"action\\\":\\\"alert|log_only|escalate\\\",\\\"confidence\\\":0.0}\\n\\nIncident: {{$json.description}}\"\n    }\n  ],\n  \"temperature\": 0\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        832,
        -32
      ],
      "id": "80a7cb17-19f1-43d9-8ce4-a234bc37943f",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "7471c044-36f5-41b4-8cf2-7a7934f803ab",
              "leftValue": "={{$json.action}}",
              "rightValue": "alert",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "d8c2faff-c2be-4b3d-8748-3e5f34208d91",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1072,
        304
      ],
      "id": "c3346f63-064c-452a-ab9b-57b8aa5fe379",
      "name": "If"
    },
    {
      "parameters": {
        "jsCode": "console.log(\"🚨 ALERT TRIGGERED:\", $json);\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1392,
        288
      ],
      "id": "843d564f-af5d-474f-b2e6-c89955faa5b1",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:5000/decision",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"severity\": \"{{$json.severity}}\",\n  \"action\": \"{{$json.action}}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1216,
        336
      ],
      "id": "14f104e7-be39-4c71-9771-9e5d12e607d4",
      "name": "HTTP Request2"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "cc8cfc2f-0562-43bb-b8c2-93b4fad7bb8d",
  "meta": {
    "instanceId": "53e712af7de491a9b77de3c288b43383868b3c4c454827c112451302c39e023d"
  },
  "id": "1nIwErznXSm6C3dn",
  "tags": []
}